@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root, [data-theme] {
    background-color: #000000 ;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #88888800;
  border-radius: 5px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #00000080;
  border-radius: 5px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}